.header-color {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43C6AC, #191654);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43C6AC, #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.landing-grid {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43C6AC, #191654);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #43C6AC, #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .7;
  width: 75%;
  margin: auto;
  border-radius: 0%;

}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: aliceblue;
}

.banner-text hr{
  border-top: 5px dotted whitesmoke;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: whitesmoke;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  color: whitesmoke;
  font-size: 5em;
}